@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

:root {
  --primary-color: #4717f6;
  --secondary-color: #A239CA;
  --dark-color: #0E0B16;
  --grey-color: #E7DFDD;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
}

.modal-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-search-bar > * {
  padding: 1rem 1.5rem;
}

.modal-search-bar input {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  outline: none;
  flex: 1;
  padding-left: 0;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Search Results */

.modal-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 8rem 15rem 0;
  padding: 1rem 2rem;
}

.post {
  flex: 0 0 100%;
  width: 50vw;
}
