@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0 15rem;
    padding: 4rem 2rem;
}

.no-scroll {
    position: fixed;
    margin-left: 23%;
}

.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20rem 5rem;
    height: 50vh;
}

.empty-container h2 {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
}

.empty-container p {
    font-family: "Cardo", sans-serif;
    text-align: center;
    font-size: 1.5rem;
}



